* {
  padding: 0;
  margin: 0;
}
body {
  --background: white;
  --font-main-color: black;
  --font-theme-color: rgb(0, 59, 220);
  --font-second-color: rgb(71, 71, 71);
  --theme-color: rgb(255, 94, 0);
  --about-us-background: rgba(104, 138, 170, 0.2);
  --feature-background: rgb(22, 22, 50);
}

.logo img {
  width: 50px;
}

.logo-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--font-main-color);
}
.burger {
  cursor: pointer;
  height: 40px;
  width: 50px;
  border-radius: 8px;
  position: fixed;
  right: 4%;
  background-color: var(--theme-color);
  padding: 10px;
  overflow: hidden;
}
.burger i {
 align-items: center;
  display: block;
  background-color: white;
  height: 4px;
  width: 100%;
}
.navbar-toggler {
  border: none !important;
}
